* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    text-decoration: none;
    color: unset;
}

:root {
    --main-bg: #F5F5F5;
    --second-bg: #eff7fb;
    --main-text: #30475E;
    --brand-color: #F05454;
    --second-color: #121212;
}

body {
    background-color: var(--main-bg);
    color: var(--main-text);
}

header {
    height: 100vh;

    background-color: var(--second-bg);

    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    font-size: 18px;
    font-weight: 600;
}

nav>ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    text-decoration: none;
    list-style: none;

    max-width: 600px;
}
nav>ul>li:hover{
    text-decoration: underline;
}


.hero-page {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 50px;

}


.hero-text {
    max-width: 600px;
}


.hero-text>h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.button-wrap {
    display: flex;
    align-items: center;
    gap: 50px;

    margin-top: 30px;


}

.social-media >i {
    font-size: 28px;
    cursor: pointer;

    margin-right: 20px;
}

.social-media>i:hover{
    filter: brightness(150%);
}

.hero-button {
    background-color: var(--brand-color);
    color: var(--main-bg);
    cursor: pointer;

    border: none;
    padding: 15px 20px;
    border-radius: 5px;

    font-size: 16px;
}
.hero-button:hover{
    filter: brightness(120%);
}


.hero-about {
    font-size: 18px;
}


.hero-splash {
    max-width: 650px;

    align-self: flex-end;
    display: flex;
}


.hero-splash>img {
    width: 100%;
    transform: scaleX(-1);

}