* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    text-decoration: none;
    color: unset;
}
button{
    cursor: pointer;
}

:root {
    --main-bg: #F5F5F5;
    --second-bg: #eff7fb;
    --main-text: #30475E;
    --brand-color: #F05454;
    --second-color: #121212;
}

body {
    background-color: var(--main-bg);
    color: var(--main-text);
}

header {
    height: 100vh;

    /* background-color: var(--second-bg); */

    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    font-size: 18px;
    font-weight: 600;
}

nav>ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    text-decoration: none;
    list-style: none;

    max-width: 600px;
}
nav>ul>li:hover{
    text-decoration: underline;
}


.hero-page {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 50px;

}


.hero-text {
    max-width: 600px;
}


.hero-text>h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.button-wrap {
    display: flex;
    align-items: center;
    gap: 50px;

    margin-top: 30px;


}

.social-media >a>i {
    font-size: 28px;
    cursor: pointer;

    margin-right: 20px;
}

.social-media>i:hover{
    filter: brightness(150%);
}

.hero-button {
    background-color: var(--brand-color);
    color: var(--main-bg);
    cursor: pointer;

    border: none;
    padding: 15px 20px;
    border-radius: 5px;

    font-size: 16px;
}
.hero-button:hover{
    filter: brightness(120%);
}


.hero-about {
    font-size: 18px;
}


.hero-splash {
    max-width: 650px;

    align-self: flex-end;
    display: flex;
}


.hero-splash>img {
    width: 100%;
    transform: scaleX(-1);

}

/* portofolio */

main{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.card-warp{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top:60px ;
}

.project-card{
    width: min-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 350px;

    background-color: white;
    border-radius: 10px;

    text-align: center;
    flex: 1;
}
.project-card:hover{
    scale: 1.1;
}

.img-wrap{
    display: flex;
    width: 100%;
}
.img-wrap>img{
    object-fit: cover;
    width: 100%;
}

.text-wrap{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1;
    padding: 30px 20px;
}
.text-wrap>p{
    margin-bottom: 10px;
}

.project-card button{
    padding: 10px;
    border: none;
    background-color: var(--brand-color);
    color: white;
    border-radius: 3px;
}

/* about */
.about-warp{
    gap: 20px;
    font-size: 1.3rem;
    width: 800px;
    margin-top: 20px;
    text-indent: 2rem;
    text-align: justify;
}


/* blog` */
.blog-wrap{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-wrap>h1{
    text-align: center;
    margin: 50px;
}
.blog-box{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    cursor: pointer;
}
.blog-box:hover{
    background-color: var(--second-bg);

}
.blog-box:hover h2{
    color: var(--brand-color);
}